<div class="page">
    <div class="header">
        <div class="profile-photo">Profile Photo</div>
        <span>First Name   Last Name</span>
        <div>Profile Menu</div>
    </div>
    <div class="sub-header">Category Tabs</div>
    <div class="main">
        <div class="sidebar">
            <div class="group">Info</div>
            <div class="group">Photos</div>
            <div class="group">Groups</div>
            <div>Friends</div>
        </div>
        <div class="content">
            <div>My Status Updates</div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<div class="clearfix"></div>
<p>User First Name: {{username}}</p>
<p>User Action Category: {{category}}</p>

