<div>
    <div class="search-bar">
        <form>
            <div class="">
                <input required ngModel name="searchQuery" #searchQuery="ngModel" id="searchQuery"
                       type="text" class="form-control" placeholder="Type here..."
                       aria-label="Search" aria-describedby="basic-addon2"
                       (keyup.enter)="doSearch(searchQuery)">
                <button class="btn btn-outline-secondary" (click)="doSearch(searchQuery)"
                            type="submit">Search</button>
            </div>
        </form>
    </div>
    <br>
    <div class="search-results">
        <span>Search Results</span>
    </div>
</div>
