<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card class="signup-card" fxFlex="25">
        <form class="signup-form" #signUpForm="ngForm">
            <mat-form-field>
            <mat-label>First Name</mat-label>
            <input matInput required id="firstname"
            type="text" placeholder="First Name"
            ngModel name="firstname" #firstname="ngModel">
            <small class="text-danger"
            [class.d-none]="firstname.valid || firstname.untouched">First Name is a required field.</small>
            </mat-form-field>
            <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input matInput required id="lastname"
            type="text" placeholder="Last Name"
            ngModel name="lastname" #lastname="ngModel">
            <small class="text-danger"
            [class.d-none]="lastname.valid || lastname.untouched">Last Name is a required field.</small>
            </mat-form-field>
            <br>
            <mat-form-field>
            <mat-label>Phone Number</mat-label>
            <input matInput  required id="phoneno"
            type="text" placeholder="Phone Number"
            ngModel name="phoneno" #phoneno="ngModel">
            <small class="text-danger"
            [class.d-none]="phoneno.valid || phoneno.untouched">Phone Number is a required field.</small>
            </mat-form-field>
            <mat-form-field>
            <mat-label>Email Address</mat-label>
            <input matInput required id="emailaddress"
            type="text" placeholder="Email Address"
            ngModel name="emailaddress" #emailaddress="ngModel">
            <small class="text-danger"
            [class.d-none]="emailaddress.valid || emailaddress.untouched">Email Address is a required field.</small>
            </mat-form-field>
            <br>
            <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput  required id="password"
            type="password" placeholder="Password"
            ngModel name="password" #password="ngModel">
            <small class="text-danger"
            [class.d-none]="password.valid || password.untouched">Password is a required field.</small>
            </mat-form-field>
            <mat-form-field>
            <mat-label>Re-Enter Password</mat-label>
            <input matInput  required id="password2"
            type="password" placeholder="Password"
            ngModel name="password2" #password2="ngModel">
            <small class="text-danger"
            [class.d-none]="password2.valid || password2.untouched">Password is a required field.</small>
            </mat-form-field>
            <br>
            <mat-checkbox id="showpassword" color="warn"
            (click)="togglePrivacy()">Show Password</mat-checkbox>
        </form>
        <mat-card-actions>
            <button mat-raised-button color="primary"
            [disabled]="signUpForm.form.invalid"
            (click)="submitSignup()"
            type="submit">Sign Up</button>
        </mat-card-actions>
    </mat-card>
</div>